<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head.ejs") %>
    </head>
    <body>
        <%- include("../components/banner.ejs") %>

        <h1>Admin Dashboard</h1>
    </body>
</html>