<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head.ejs") %>
        <link rel="stylesheet" href="/css/loginout.css">
    </head>
    <body>
        <%- include("../components/banner.ejs") %>

        <a class="logoLink" href="https://sevansolutions.com">
            <img src="/images/sevanLogo.gif" alt="Sevan Solutions">
        </a>

        <form id="form" action="/admin/password/reset" method="post">
            <h1>Reset Password</h1>

            <label>Password<span class="note">(10 character minimum)</span>
                <input type="password" name="password" placeholder="Password" required>
            </label>

            <label>Confirm Password
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </label>

            <input type="submit" value="Reset Password">
        </form>

        <script>
            let form = document.getElementById("form");

            let path = window.location.pathname;
            path = path.split("/");

            let id = document.createElement("input");
            id.type = "hidden";
            id.name = "id";
            id.value = path[3];
            form.appendChild(id);

            let session = document.createElement("input");
            session.type = "hidden";
            session.name = "session";
            session.value = path[4];
            form.appendChild(session);
        </script>
    </body>
</html>