<% if(banner){ %>
    <div id="banner" class="banner <%=banner.type%>Banner">
        <p><%=banner.message%></p>
    </div>

    <script>
        setTimeout(()=>{
            document.getElementById("banner").style.display = "none";
        }, 10000)
    </script>
<% } %>