<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./components/head.ejs") %>
        <link rel="stylesheet" href="/css/404.css">
    </head>
    <body>
        <a href="https://sevansolutions.com">
            <img src="/images/sevanLogo.gif" alt="Sevan Solutions">
        </a>

        <h1>404 PAGE NOT FOUND</h1>

        <h2>WE ARE UNABLE TO LOCATE THE PAGE YOU REQUESTED</h2>
    </body>
</html>