<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sevan Muni</title>
        <link rel="icon" type="img/ico" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/universal.css">
    </head>
    <body>
        <%- include("./components/banner.ejs") %>
        
        <img src="/images/sevanLogo.gif" alt="Sevan Solutions">

        <a href="/user/register">Register</a>

        <a href="/user/login">Log in</a>
    </body>
</html>