<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./components/head.ejs") %>
    </head>
    <body>
        <%- include("./components/banner.ejs") %>
        
        <img src="/images/sevanLogo.gif" alt="Sevan Solutions">

        <a href="/user/register">Register</a>

        <a href="/user/login">Log in</a>
    </body>
</html>