<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sevan Muni</title>
        <link rel="icon" type="img/ico" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/loginout.css">
    </head>
    <body>
        <img src="/images/sevanLogo.gif" alt="Sevan Solutions">

        <form action="/user/login" method="post">
            <h1>Login</h1>

            <label>Email
                <input type="email" name="email" placeholder="Email" required>
            </label>

            <label>Password
                <input type="password" name="password" placeholder="Password" required>
            </label>

            <input type="submit" value="Log In">

            <p>No account? <a href="/user/register">Sign Up</a></p>
            
            <p>Forgot password? <a href="/user/password/email">Reset</a></p>
        </form>
    </body>
</html>