<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sevan Muni</title>
        <link rel="icon" type="img/ico" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/loginout.css">
    </head>
    <body>
        <img src="/images/sevanLogo.gif" alt="Sevan Solutions">

        <form action="/user/password/email" method="post">
            <h1>Enter Email</h1>
            <label>Email
                <input type="email" name="email" placeholder="Email" required>
            </label>

            <input type="submit" value="Reset Password">
        </form>
    </body>
</html>