<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sevan Muni</title>
        <link rel="icon" type="img/ico" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/loginout.css">
    </head>
    <body>
        <img src="/images/sevanLogo.gif">

        <form action="/user/register" method="post">
            <h1>Register</h1>

            <label>Email
                <input type="email" name="email" placeholder="Email" required>
            </label>

            <label>Password
                <input type="password" name="password" placeholder="Password" required>
            </label>

            <label>Confirm Password
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </label>

            <input type="submit" value="Register">

            <p>Already have an account? <a href="/user/login">Log in</a></p>
        </form>
    </body>
</html>