<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head.ejs") %>
        <link rel="stylesheet" href="/css/loginout.css">
    </head>
    <body>
        <%- include("../components/banner.ejs") %>
        
        <img src="/images/sevanLogo.gif" alt="Sevan Solutions">

        <div class="container">
            <h1>Verify Email</h1>
            <p>An email has been sent to verify your account. Please follow the link in the email to verify your account and continue.</p>
        </div>
    </body>
</html>