<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head.ejs") %>
        <link rel="stylesheet" href="/site/newSite.css">
    </head>
    <body>
        <div id="banner" class="banner" style="display:none">
            <p></p>
        </div>

        <div id="contents">
            <section id="projectInfo">
                <h1>Project Information</h1>

                <form id="projectInfoForm">
                    <label>Project Name
                        <input id="projectName" type="text" required>
                    </label>

                    <label>Project Number
                        <input id="projectNumber" type="text">
                    </label>

                    <label>Site Phone Number
                        <input id="phone" type="text">
                    </label>

                    <label>Project Address
                        <input id="projectAddress" type="text" required>
                    </label>

                    <div class="endSection"></div>

                    <h3>Tenant Lease Square Footage</h3>

                    <label>Patio
                        <input id="patioFootage" type="number" min="0">
                    </label>

                    <label>Dining Room/BOH
                        <input id="diningFootage" type="number" min="0">
                    </label>

                    <label>Total
                        <input id="totalFootage" type="number" min="0">
                    </label>

                    <label>Verification Method
                        <input id="footageMethod" type="text">
                    </label>

                    <div class="endSection"></div>

                    <h3>Property Type</h3>

                    <label class="rad">
                        <input id="propertyTypeFree" type="radio" name="propertyType" value="freestanding">
                        Freestanding Building
                    </label>

                    <label class="rad">
                        <input id="propertyTypeEnd" type="radio" name="propertyType" value="endcap">
                        End Cap
                    </label>

                    <label class="rad">
                        <input id="propertyTypeInline" type="radio" name="propertyType" value="inline">
                        Inline
                    </label>

                    <label class="rad">
                        <input id="propertyTypeOther" type="radio" name="propertyType" value="other">
                        Non-Traditional / Other
                    </label>

                    <div class="endSection"></div>

                    <div class="endButtons">
                        <input id="projectInfoNext" class="button" type="submit" value="Next">
                    </div>
                </form>
            </section>

            <section id="contacts" style="display:none">
                <h1>Directory of Contacts</h1>

                <button id="addContactButton" class="button">New Contact</button>

                <table>
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Name & Title</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="contactsContainer"></tbody>
                </table>

                <template id="contactTemplate">
                    <tr class="contactTemplate">
                        <td><textarea class="contactDepartment"></textarea></td>

                        <td><textarea class="contactTitle"></textarea></td>

                        <td><textarea class="contactAddress"></textarea></td>

                        <td><textarea class="contactPhone"></textarea></td>

                        <td><textarea class="contactEmail"></textarea></td>

                        <td><button class="contactRemove button red">-</button> </td>
                    </tr>
                </template>

                <div class="endButtons">
                    <button id="contactsBack" class="button red">Back</button>

                    <button id="contactsNext" class="button">Next</button>
                </div>
            </section>

            <section id="codeInfo" style="display:none">
                <h1>Code Information</h1>

                <div class="endSection"></div>

                <h2>A. Applicable Codes</h2>

                <div id="buildingCodes" class="codeSection aCode">
                    <div>
                        <h3>Building Codes:</h3>
    
                        <button class="codeAddBtn button" code="building">+</button>
                    </div>
                </div>

                <div id="fireCodes" class="codeSection aCode">
                    <div>
                        <h3>Fire Codes:</h3>
    
                        <button class="codeAddBtn button" code="fire">+</button>
                    </div>
                </div>

                <div id="plumbingCodes" class="codeSection aCode">
                    <div>
                        <h3>Plumbing Codes:</h3>
    
                        <button class="codeAddBtn button" code="plumbing">+</button>
                    </div>
                </div>

                <div id="electricalCodes" class="codeSection aCode">
                    <div>
                        <h3>Electrical Codes:</h3>
    
                        <button class="codeAddBtn button" code="electrical">+</button>
                    </div>
                </div>

                <div id="mechanicalCodes" class="codeSection aCode">
                    <div>
                        <h3>Mechanical Codes:</h3>
    
                        <button class="codeAddBtn button" code="mechanical">+</button>
                    </div>
                </div>

                <div id="energyCodes" class="codeSection aCode">
                    <div>
                        <h3>Energy Codes:</h3>
    
                        <button class="codeAddBtn button" code="energy">+</button>
                    </div>
                </div>

                <div id="accessibilityCodes" class="codeSection aCode">
                    <div>
                        <h3>Accessibility Codes:</h3>
    
                        <button class="codeAddBtn button" code="accessibility">+</button>
                    </div>
                </div>

                <div id="healthCodes" class="codeSection aCode">
                    <div>
                        <h3>Health/Food Codes:</h3>
    
                        <button class="codeAddBtn button" code="health">+</button>
                    </div>
                </div>

                <div class="endSection"></div>

                <h2>B. ADA Requirements</h2>

                <div id="adaCodes" class="codeSection">
                    <div>
                        <h3>Include any local ADA ordinances in excess of the federal ADA guidelines:</h3>
    
                        <button class="codeAddBtn button" code="ada">+</button>
                    </div>
                </div>

                <div id="adaIssuesCodes" class="codeSection">
                    <div>
                        <h3>Describe any issues noted on site that require further review (describe fully):</h3>
    
                        <button class="codeAddBtn button" code="adaIssues">+</button>
                    </div>
                </div>

                <div class="endSection"></div>

                <h2>C. Restroom Requirements</h2>

                <h3>Existing Restroom Fixture Counts:</h3>

                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="smallText">
                        <tr>
                            <th></th>
                            <th>Occupancy Count</th>
                            <th>Lavatories</th>
                            <th>Toilets</th>
                            <th>Urinals</th>
                        </tr>
                    </thead>
                    <tbody id="toiletBody">
                        <tr>
                            <td class="smallText">Men</td>
                            <td><input id="occMen" type="number" min="0" step="1"></td>
                            <td><input id="lavMen" type="number" min="0" step="1"></td>
                            <td><input id="toilMen" type="number" min="0" step="1"></td>
                            <td><input id="urinMen" type="number" min="0" step="1"></td>
                        </tr>
                        <tr>
                            <td class="smallText">Women</td>
                            <td><input id="occWomen" type="number" min="0" step="1"></td>
                            <td><input id="lavWomen" type="number" min="0" step="1"></td>
                            <td><input id="toilWomen" type="number" min="0" step="1"></td>
                            <td><input id="urinWomen" type="number" min="0" step="1"></td>
                        </tr>
                        <tr>
                            <td class="smallText">Unisex</td>
                            <td><input id="occUnisex" type="number" min="0" step="1"></td>
                            <td><input id="lavUnisex" type="number" min="0" step="1"></td>
                            <td><input id="toilUnisex" type="number" min="0" step="1"></td>
                            <td><input id="urinUnisex" type="number" min="0" step="1"></td>
                        </tr>
                        <tr>
                            <td class="smallText">Employee Only</td>
                            <td><input id="occEmployee" type="number" min="0" step="1"></td>
                            <td><input id="lavEmployee" type="number" min="0" step="1"></td>
                            <td><input id="toilEmployee" type="number" min="0" step="1"></td>
                            <td><input id="urinEmployee" type="number" min="0" step="1"></td>
                        </tr>
                    </tbody>
                </table>

                <div id="adaConcernsCodes" class="codeSection">
                    <div>
                        <h3>ADA concerns in existing restrooms:</h3>
    
                        <button class="codeAddBtn button" code="adaConcerns">+</button>
                    </div>
                </div>

                <div class="endSection"></div>

                <div class="endButtons">
                    <button id="codeInfoBack" class="button red">Back</button>

                    <button id="codeInfoNext" class="button">Next</button>
                </div>
            </section>

            <section id="permitting" style="display:none">
                <h1>Permitting</h1>
                
                <h2>Describe the permits that apply to this project</h2>

                <table id="permitTable">
                    <thead>
                        <tr>
                            <th>Permit</th>
                            <th>Sequence</th>
                            <th>Review / Application Fees</th>
                            <th>Permit / License Fees</th>
                            <th>Review Time (hours)</th>
                            <th>Requirements</th>
                        </tr>
                    </thead>
                    <tbody id="permitBody">
                        <tr>
                            <td>Landlord Review</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Pre-App Conf.</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Neighboorhood Review</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Design Review</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Site Plan</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Signage</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Building</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Fire/Life Safety</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Health</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Electric</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Water</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Sewer</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>Business License</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td>State Authority</td>
                            <td><input type="text"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><input type="number" min="0" step="0.01"></td>
                            <td><textarea></textarea></td>
                        </tr>
                    </tbody>
                </table>

                <div class="endButtons">
                    <button id="permittingBack" class="button red">Back</button>

                    <button id="permittingNext" class="button">Finish</button>
                </div>
            </section>
        </div>

        <script src="/bundles/site/js/newSite.js"></script>
    </body>
</html>