#contents{
    width: 1000px;
    background: rgb(241, 241, 241);
    min-height: 100vh;
    margin: auto;
    padding: 50px 25px;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

label{
    margin: 15px;
}

.rad{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rad input{
    margin-right: 10px;
}

.endSection{
    border-bottom: 2px solid black;
}

.endButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 100%;
}

.red{
    background: rgb(252, 55, 55);
}

.red:hover{
    background: red;
}

#projectInfoNext{
    margin-left: auto;
}

#contacts{
    align-items: center;
}

    #contactsContainer{
        width: 100%;
    }

.codeSection{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.codeSection > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.codeAddBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.codeInput{
    margin: 15px;
}

.smallText{
    font-size: 12px;
}

#toiletBody input{
    width: 100%;
    font-size: 22px;
}

col{
    width: 150px;
}

#permitting{
    max-width: none;
}

#permitting h2{
    margin: auto;
}

#permitTable{
    border-spacing: 15px;
}

#permitTable th{
    max-width: 75px;
}

#permitTable input{
    width: 100%;
}