<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head.ejs") %>
        <link rel="stylesheet" href="/site/newSite.css">
    </head>
    <body>
        <div id="banner" class="banner" style="display:none">
            <p></p>
        </div>

        <div id="contents">
            <section id="projectInfo">
                <h1>Project Information</h1>

                <form id="projectInfoForm">
                    <label>Project Name
                        <input id="projectName" type="text">
                    </label>

                    <label>Project Address
                        <input id="projectAddress" type="text" required>
                    </label>

                    <div class="endSection"></div>

                    <h3>Tenant Lease Square Footage</h3>

                    <label>Patio
                        <input id="patioFootage" type="number" min="0">
                    </label>

                    <label>Dining Room/BOH
                        <input id="diningFootage" type="number" min="0">
                    </label>

                    <label>Total
                        <input id="totalFootage" type="number" min="0">
                    </label>

                    <label>Verification Method
                        <input id="footageMethod" type="text">
                    </label>

                    <div class="endSection"></div>

                    <h3>Property Type</h3>

                    <label class="rad">
                        <input id="propertyTypeFree" type="radio" name="propertyType" value="freestanding">
                        Freestanding Building
                    </label>

                    <label class="rad">
                        <input id="propertyTypeEnd" type="radio" name="propertyType" value="endcap">
                        End Cap
                    </label>

                    <label class="rad">
                        <input id="propertyTypeInline" type="radio" name="propertyType" value="inline">
                        Inline
                    </label>

                    <label class="rad">
                        <input id="propertyTypeOther" type="radio" name="propertyType" value="other">
                        Non-Traditional / Other
                    </label>

                    <div class="endSection"></div>

                    <div class="endButtons">
                        <input id="projectInfoNext" class="button" type="submit" value="Next">
                    </div>
                </form>
            </section>

            <section id="contacts" style="display:none">
                <h1>Directory of Contacts</h1>

                <button id="addContactButton" class="button">New Contact</button>

                <table>
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Name & Title</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="contactsContainer"></tbody>
                </table>

                <template id="contactTemplate">
                    <tr class="contactTemplate">
                        <td><textarea class="contactDepartment"></textarea></td>

                        <td><textarea class="contactTitle"></textarea></td>

                        <td><textarea class="contactAddress"></textarea></td>

                        <td><textarea class="contactPhone"></textarea></td>

                        <td><textarea class="contactEmail"></textarea></td>

                        <td><button class="contactRemove button red">-</button> </td>
                    </tr>
                </template>

                <div class="endButtons">
                    <button id="contactsBack" class="button red">Back</button>

                    <button id="contactsNext" class="button">Next</button>
                </div>
            </section>

            <section id="codeInfo" style="display:none">
                <h1>Code Information</h1>

                <div class="endSection"></div>

                <h2>A. Applicable Codes</h2>

                <div id="buildingCodes" class="codeSection">
                    <div>
                        <h3>Building Codes:</h3>
    
                        <button class="codeAddBtn button" code="building">+</button>
                    </div>
                </div>

                <div id="fireCodes" class="codeSection">
                    <div>
                        <h3>Fire Codes:</h3>
    
                        <button class="codeAddBtn button" code="fire">+</button>
                    </div>
                </div>

                <div id="plumbingCodes" class="codeSection">
                    <div>
                        <h3>Plumbing Codes:</h3>
    
                        <button class="codeAddBtn button" code="plumbing">+</button>
                    </div>
                </div>

                <div id="electricalCodes" class="codeSection">
                    <div>
                        <h3>Electrical Codes:</h3>
    
                        <button class="codeAddBtn button" code="electrical">+</button>
                    </div>
                </div>

                <div id="mechanicalCodes" class="codeSection">
                    <div>
                        <h3>Mechanical Codes:</h3>
    
                        <button class="codeAddBtn button" code="mechanical">+</button>
                    </div>
                </div>

                <div id="energyCodes" class="codeSection">
                    <div>
                        <h3>Building Codes:</h3>
    
                        <button class="codeAddBtn button" code="energy">+</button>
                    </div>
                </div>

                <div id="accessibilityCodes" class="codeSection">
                    <div>
                        <h3>Accessibility Codes:</h3>
    
                        <button class="codeAddBtn button" code="accessibility">+</button>
                    </div>
                </div>

                <div id="healthCodes" class="codeSection">
                    <div>
                        <h3>Health/Food Codes:</h3>
    
                        <button class="codeAddBtn button" code="health">+</button>
                    </div>
                </div>

                <div class="endSection"></div>

                <div class="endButtons">
                    <button id="codeInfoBack" class="button red">Back</button>

                    <button id="codeInfoNext" class="button">Next</button>
                </div>
            </section>
        </div>

        <script src="/bundles/site/js/newSite.js"></script>
    </body>
</html>