body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.section{
    width: 1000px;
    height: 100vh;
    background: rgb(241, 241, 241);
}

.logo img{
    margin: 25px;
}

.page{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    width: 85%;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.card{
    display: flex;
    align-items: center;
    height: 75px;
    width: 50%;
    background: rgb(88, 186, 91);
    color: white;
    font-size: 25px;
    margin: 10px;
    padding-left: 25px; 
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.card:hover{
    background: rgb(70, 148, 72);
}

.backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100px;
    background: rgb(88, 186, 91);
    border: none;
    margin: 0;
    margin-right: auto;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.backBtn:hover{
    background: rgb(70, 148, 72);
}

#editAccount > *{
    margin: 15px;
}

#pass{
    text-decoration: underline;
    margin-bottom: 0;
}

a.button{
    background: rgb(252, 65, 55);
}

a.button:hover{
    background: rgb(252, 50, 40);
}

#searchUsers{
    align-items: center;
}

.userSearchBar{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#userSearch{
    font-size: 18px;
    border: 1px solid black;
    border-right: none;
    height: 24px;
}

#userSearchBtn{
    border: 1px solid black;
    border-left: none;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}