*{margin:0;padding:0;}

a{
    color: rgb(31, 72, 112);
}

label{
    display: flex;
    flex-direction: column;
}

label input[type="text"],
label input[type="email"],
label input[type="password"],
label input[type="number"]{
    height: 35px;
    font-size: 16px;
}

.button{
    font-size: 30px;
    background: rgb(88, 186, 91);
    color: white;
    border: none;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    background: rgb(70, 148, 72);
}

.logoLink{
    display: flex;
    justify-content: center;
}

.banner{
    width: 500px;
    position: fixed;
    top: 1px;
    left: 50%;
    margin-left: -250px;
    color: white;
    z-index: 10;
    text-align: center;
    padding: 10px;
}

.banner p{
    margin: auto;
}

.errorBanner{
    background: rgba(255, 0, 0, 0.85);
}

.successBanner{
    background: rgba(70, 148, 72, 0.85);
}

.warningBanner{
    background: rgba(119, 113, 0, 0.85);
}