*{margin:0;padding:0;}

a{
    color: rgb(31, 72, 112);
}

.logoLink{
    display: flex;
    justify-content: center;
}

.banner{
    width: 500px;
    position: fixed;
    top: 1px;
    color: white;
    z-index: 10;
    text-align: center;
    padding: 10px;
}

.errorBanner{
    background: rgba(255, 0, 0, 0.85);
}

.successBanner{
    background: rgba(70, 148, 72, 0.85);
}

.warningBanner{
    background: rgba(255, 255, 0, 0.85);
}